<div class="container">
  <div>
    <h1>{{"MAINPAGE.GREETINGS" | translate}}</h1>
    <div>
      <!-- Provide an object pass dynamic values in our component-->
      <p> {{"MAINPAGE.INFO" | translate:{toolName: toolName, angular:"angular"} }} </p>
      <p>{{"MAINPAGE.TYPE" | translate}}
        <input
       placeholder="{{'MAINPAGE.PLACEHOLDER' | translate}}"
       [(ngModel)] = "inputValue"
      >
      </p>
      <p>{{"MAINPAGE.ENTEREDTEXT" | translate:{input: inputValue} }}</p>
      <div class="center">
        <p><strong>{{changeLangText}}</strong></p>
        <div>
          <select
          (change)="changeLocale($event.target.value)"
          >            
            <option value="{{locale.code}}"
            [selected]="currentLocale === locale.code"
            *ngFor="let locale of localeList"> {{locale.name}} </option>
          </select>
        </div>        
      </div>
    </div>
  </div>
  
</div>